/bridge/bridge-core/target/
/bridge/bridge-web/target/
/bridge/bridge-tomcat/target/
/bridge/target/
/test1/test1-common/target/
/test1/test1-api/target/
/test1/test1-service/target/
/test1/test1-client/target/
/test1/test1-servicev2/target/
/test2/test2-service/target/
/test2/test2-api/target/
/test2/test2-common/target/
/test2/test2-client/target/
/test3/test3-service/target/
/test3/test3-api/target/
/test3/test3-common/target/
/test3/test3-client/target/
/integration/target/
/archetype/target/